/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

:root {
    --main-text-color: hsl(200, 15%, 8%);
    --secondary-text-color: hsl(0, 0%, 52%);
    --main-bg-color: hsl(0, 0%, 98%);
    --secondary-bg-color: hsl(0, 0%, 100%);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    margin: 0;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    /* box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.38); */
    z-index: -25;
    background-color: var(--secondary-bg-color);
    height: 65px;
}

main {
    background-color: var(--main-bg-color);
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7) inset; */
}

.main-content {
    width: 90%;
    margin:auto;
    min-height: calc(100vh - 65px);
}

.filters {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.filters input {
    background-color: var(--secondary-bg-color);
    border: none;
    font-size: 12px;
    color: var(--secondary-text-color);
    padding: 15px;
    border-radius: 5px;
    width: 35vw;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2));
    outline: 0;
}

.filters select {
    padding: 15px;
    color: var(--secondary-text-color);
    font-size: 12px;
    /* font-weight: 800px; */
    outline: none;
    border: none;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    appearance: none;
}

#countries {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    grid-gap: 20px;
}

.card {
    width: 200px;
    /* width: 20%; */
    /* flex: 1; */
    background-color: var(--secondary-bg-color);
    margin: 25px 0 25px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2));
}

.card:hover {
    cursor: pointer;
}

.card__flag-container {
    height: 120px;
}

.card__flag {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card__info {
    padding: 5px 15px 5px 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

.card__info-data {
    margin: 3px;
}

.card__name {
    font-size: 16px;
}

.card__info-data-title {
    font-weight: 800;
}

.back {
    padding: 15px 50px 15px 50px;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2));
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 3px;
    margin: 30px 0 30px 0;
}

.back:hover {
    cursor: pointer;
}

.single-country {
    display: flex;
}

.single-country__flag {
    flex: 1 1 0;
    /* padding-right: 40px; */
}

.single-country__info {
    flex: 1 1 0;
    /* padding-left: 40px; */
    align-self: center;
}

.single-country__info-columns {
    display: flex;
    justify-content:space-evenly;
    gap: 25px;
}

.single-country__info-single-column {
    flex: 1 1 0;
}

.single-country__info-single-column:first-child {
    /* padding-right: 25px; */
}

.single-country__columns:first-child {
    background-color: yellow;
}

.single-country__data-title {
    font-weight: 800;
}



@media screen and (max-width: 466px) {

    .filters {
         flex-direction: column;
         align-items: flex-start;
    }

    .filters input {
        width: 80vw;
        margin: 0 0 30px 0;
    }

    .filters select {
        margin: 0 0 30px 0;
        width: 40vw;
    }

    #countries {
        justify-content: center;
    }

    .single-country {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .single-country__info-columns {
        flex-direction: column;
        justify-content: start;
        gap:10px;
    }

    .single-country__info {
        align-self: start;
    }
   
}
