/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

:root {
    --main-text-color: hsl(200, 15%, 8%);
    --secondary-text-color: hsl(0, 0%, 52%);
    --main-bg-color: hsl(0, 0%, 98%);
    --secondary-bg-color: hsl(0, 0%, 100%);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 900px;
    margin: auto;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.38);
    z-index: -25;
    background-color: var(--secondary-bg-color);
}

main {
    background-color: var(--main-bg-color);
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7) inset; */
}

.main-content {
    width: 900px;
    margin:auto;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 200px;
    background-color: var(--secondary-bg-color);
}

